<%= form_for [@user, @quiz] do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.object.name %>
  </div>

  <% counter = 1 %>
  <%= f.fields_for :questions do |builder| %>
      <%= render 'published_question_fields', f: builder, counter: counter %>
      <% counter = counter + 1 %>
  <% end %>

<% end %>