<%= form_for [@user, @quiz] do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.object.name %>
  </div>

  <% counter = 1 %>
  <%= f.fields_for :questions do |builder| %>
      <%= render 'take_quiz_question_fields', f: builder, counter: counter %>
      <% counter = counter + 1 %>
  <% end %>

  <% random_link = SecureRandom.base64[0,5].gsub('/', 'a') %>
  <% user_id = current_user.nil? ? -1 : current_user.id %>

  <%= link_to "Submit answers", 'javascript:;', :onclick => "send_result('#{results_path()}', '#{@quiz.id}', '#{user_id}', '#{random_link}')", class: "btn btn-primary" %>

<% end %>